---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events/3085319
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cec4f87c8090517916de87fd378db00c2bf79f12"'
    body:
      encoding: UTF-8
      string: '{"links":[],"id":3085319,"stats":{"listing_count":0,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Kalendr","announce_date":"2016-02-06T00:00:00","score":null,"date_tbd":false,"type":"concert","datetime_local":"2016-02-06T03:30:00","visible_until_utc":"2016-02-07T08:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":0},"name":"Kalendr","short_name":"Kalendr","url":"https:\/\/seatgeek.com\/kalendr-tickets","type":"band","image":null,"home_venue_id":null,"primary":true,"score":0,"images":{},"slug":"kalendr","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":false,"id":260223}],"url":"https:\/\/seatgeek.com\/kalendr-tickets\/riverside-california-proabition-2016-02-06-3-30-am\/concert\/3085319","created_at":"2016-02-06T00:00:00","venue":{"city":"Riverside","name":"Proabition","extended_address":"Riverside,
        CA 92501","url":"https:\/\/seatgeek.com\/venues\/proabition\/tickets","country":"US","display_location":"Riverside,
        CA","links":[],"slug":"proabition","state":"CA","score":0,"postal_code":"92501","location":{"lat":33.984,"lon":-117.373},"address":"3597
        Main Street","timezone":"America\/Los_Angeles","id":79340},"short_title":"Kalendr","datetime_utc":"2016-02-06T11:30:00","datetime_tbd":false}'
      effective_url: https://api.seatgeek.com/2/events/3085319
  recorded_at: Sun, 07 Feb 2016 07:29:18 GMT
recorded_with: VCR 2.9.3
